*{
    
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body{
    height: 100vh;
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: hsla(226, 11%, 37%, 0.685);
    padding: 15px;
    border-radius: 15px;
    width: 60rem;
    margin: auto;
}

.sun{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
}

.hero{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-direction: column;
}

.list{
    display: flex;
    justify-content: space-between;
    width: 62rem;
    align-items: center;
    margin: auto;
}

.list h1{
    color: white;
    font-size: 30px;
}


.buttons button{
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    background-color: hsl(226, 11%, 37%);
    border: none;
    font-size: 15px;
    font-weight: 300;
    color: white;
    margin-left: 5px;
}


.bgred{
    background-color: hsl(3, 71%, 56%);
    color: black;
}

.box{
    margin-top: 1rem;
    margin: auto;
    display: grid;
    gap:10px;
    grid-template-columns: 350px 350px 350px;
}

.cadr{
    display: grid;
    grid-template-rows: 100px 70px ;
    gap: 35px;
    padding: 10px;
    border-radius: 15px;
    background-color: hsl(226, 25%, 17%);
    width: 20rem;
    border: 1px solid white;
}

.imgTx{
    display: grid;
    grid-template-columns: 75px 100px;
    align-items: center;
    color: white;
}

.tx{
    display: grid;
    grid-template-rows: 40px 20px;
}

.tx h1{
    font-size: 20px;
    width: 10rem;
}

.tx p{
    font-size: 15px;
    width: 15rem;
    color: rgba(224, 224, 224, 0.658);
}

.btx{
    margin-top: 2rem;
    width: 18rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.btx .remove{
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px 13px 5px 13px;
    font-size: 15px;
    font-weight: 500;
    background-color: hsla(226, 11%, 37%, 0);
    color: white;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(226, 11%, 37%); /* رنگ قرمز روشن */
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    top: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: hsl(0, 100%, 64%); /* رنگ سبز مثلا */
  }
  
  input:checked + .slider::before {
    transform: translateX(22px);
  }
  



  @media screen and (max-width: 768px) {
    .header {
      width: 80%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    .logo{
        width: 9rem;
    }

    .sun{
        width: 1.5rem;
    }
  
    .list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      gap: 1rem;
      margin-left: 0.5rem;
    }
  
    .list h1 {
      font-size: 22px;
    }

    .hero{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-left: 0rem;
        flex-direction: column;
    }
  
    .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
    }
  
    .buttons button {
      padding: 8px 12px;
      font-size: 16px;
      margin: 0;
    }
  
    .box {
    grid-template-columns: auto;
      justify-items: center;
    }
  
    .cadr {
      width: 15rem;
      padding: 10px;
      gap: 25px;
    }
  
    .tx h1 {
      font-size: 18px;
      width: 100%;
    }
  
    .tx p {
      font-size: 13px;
      width: 150%;
    }
  
    .btx {
      width: 100%;
      flex-direction: row;
      gap: 0.5rem;
      height: auto;
      align-items: flex-start;
    }
  
    .remove {
      font-size: 14px;
      padding: 6px 10px;
    }


}